@font-face {
    font-family: "Reenie Beanie";
    src: url('/fonts/ReenieBeanie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "UbuntuMono";
    src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
}

.sidebar-about h1 {
  font-size: 1.6em;
  font-family: "Reenie Beanie", cursive;
}

.sidebar-about p {
  font-size: 1.1em;
}
